.backgroundAnchor{
    -fx-background-color: #353535;
}

.topButtonsBackground{
    -fx-background-color: #292929;
}

.topButton{
    -fx-background-color: #353535;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
}

.topButton:hover{
    -fx-background-color: #5B5B5B;
}

.topButton:disabled{
    -fx-background-color: #292929;
}

.normalButton{
    -fx-background-color: #353535;
}

.normalButton:hover{
    -fx-cursor: pointer;
    -fx-background-color: #5B5B5B;
}

.normalButton:pressed{
    -fx-background-color: #737373;
}

.notesTreeView{
    -fx-border-style: none;
    -fx-background-color:transparent;
}

.notesTreeView .tree-cell {
    -fx-background-color: #292929;
    -fx-text-inner-color: white;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: Calibri;
}

.notesTreeView .tree-cell:selected {
    -fx-background-color: #5B5B5B;
}

.notesTreeView .tree-cell .arrow
{
    -fx-background-color: white;
}

.inputField{
    -fx-background-color: #5B5B5B;
    -fx-text-fill: white;
}